header {
  min-width: 600px;
  width: 80%;
  /* background-color:yellow; */
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  

}

#mint-logo {
  float: left;
  height: 100px;
  width: 30px
}

#tabs {
  float: right;
  height: 100%;
  width: 200px;

}
ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float:right;
  margin-top: 20px;
}

li {
  float:right;  
  text-align: middle;
  padding-left: 5px;
  
}

#main-content {
  min-width: 600px;
  width: 80%;
  height: 750px;;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #999
}

#form {
  width: 70%;
  /* background-color: aqua; */
  float: left;
  height: 600px;
}

#side-bar{
  width: 30%;
  /* background-color: pink; */
  float: right;
  height: 600px;

}

#sign-up-header{
  overflow: scroll;
  width: 90%;
}

/* Styling Text */
#sign-up-header p {

  font-family: "AvenirNext-Regular-Mint", "Helvetica";
  font-size: 30px;
  font-weight: 300;
  outline-color: rgb(51, 51, 51);
  margin-left: 30px;
  margin-right: 10px;
  float: left;
  line-height: 45px;
  color: rgb(51, 51, 51);
  -webkit-font-smoothing: subpixel-antialiased;
}


fieldset {
    /* reset */
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;

    /* decoration */
    font-size: 12px;
    font-family: "AvenirNext-Regular-Mint", "Helvetica";
    font-weight: normal;
    font-style: normal;
    display:block;
    line-height: 18px;
    margin-left: 20px;
    /* outline-color: rgb(51, 51, 51); */
}


.label {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
  padding-bottom: 6px;
  text-align: left;
}

.form-input {
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #d8d8d8;
    border-top-color: rgb(216, 216, 216);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(216, 216, 216);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(216, 216, 216);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(216, 216, 216);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    line-height: 40px;;
    width: 200px;
    margin-bottom: 20px;

}

.space {
  width: 70%;
  height: 20px;
  /* background-color: red; */

}

#remember-me-fieldset {
  font-size: 14px;
  font-weight: normal !important;
  font-family: "AvenirNext-Regular-Mint", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  margin-bottom: 10px;
}

#checkbox {
}
